@import "global/fonts";

#nav {
    @media only screen and (min-width: 979.98px) {
        max-height: 47px;
    }
}

#nav .nav-container .navbar .navbar-collapse ul li a {
    font-family: $robotoCondesed;
}

.slogin {
    @media only screen and (min-width: 979.98px) {
        overflow: hidden;
        max-height: 63px;
    }

    .slogin-title {
        .slogin-wrapper {
            @media only screen and (min-width: 979.98px) {
                max-height: 33px;
                margin-bottom: 0;
            }
        }
    }
}

.hotline {
    font-family: $robotoCondesed;

    @media only screen and (min-width: 979.98px) {
        max-height: 50px;
        overflow: hidden;
    }
}

.related-news .row .related-wrapper .related-img {
    position: relative;
}