
.category-list-items {
    padding-top: 50px;
    
    .list-news-category {
        margin-bottom: 30px;

        .category-item {
            text-align: center;
            padding: 10px;
            background: #0053a5;
            margin-bottom: 20px;
            h2 {
                font-size: 16px;
                margin-bottom: 0;

                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }

    .pagination {
        margin: 10px auto 30px;
    }

    .no-record {
        margin-bottom: 40px;
    }
}

